<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>breakiss</title>
    <link rel="shortcut icon" href="../assets/imagenes/breakisLogo.ico" type="image/x-icon">
    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <link rel="stylesheet" href="../assets/css/styles.css">    
    <link rel="stylesheet" href="../assets/fontawesome-free-5.15.2-web/css/all.css">
    <script src="../assets/fontawesome-free-5.15.2-web/js/all.js"></script>
    
</head>

<!-- Barra de Navegacion-->
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: white">
    <a class="navbar-brand" href="../index.html">
        <img src="../assets/imagenes/breakiss4.png" alt="" width="100" ></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="../index.html">Clasicos <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="../index.html">Saludables</a>
        <a class="nav-item nav-link" href="../index.html">Infantiles</a>
      </div>
    </div>
  </nav>
</header>

<div class="container" >
    <div class="row">
        <div class="col-md-7">
            <div class="left border">
                <div class="row"> <h2 class="header">Pago</h2>
                    <div class="icons"> <img src="https://img.icons8.com/color/48/000000/visa.png" /> <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" /> <img src="https://img.icons8.com/color/48/000000/maestro.png" /> </div>
                </div>
                <form> <span>Nombre titular de Tarjeta:</span> <input placeholder="Maria Pérez"> <span>Tarjeta numero:</span> <input placeholder="0125 6780 4567 9909">
                    <div class="row">
                        <div class="col-4"><span>Expiry date:</span> <input placeholder="YY/MM"> </div>
                        <div class="col-4"><span>CVV:</span> <input id="cvv"> </div>
                    </div> <input type="checkbox" id="save_card" class="align-left"> <label for="save_card">Agregar Tarjeta</label>
                </form>
            </div>
        </div>
        <div class="col-md-5">
            <div class="right border">
                <div class="header">
                    <h2>Tu Pedido</h2>
                </div>
                <div class="row item">
                    <div class="col-4 align-self-center"><img class="img-fluid" src="../assets/imagenes/healthy/healthy breakfast_bloglarge-cuadrado.jpg"></div>
                    <div class="col-8">
                        <div class="row"><b>$ 26.99</b></div>
                        <div class="row text-muted">Be Legandary Lipstick-Nude rose</div>
                        <div class="row">Qty:1</div>
                    </div>
                </div>
                <div class="row item">
                    <div class="col-4 align-self-center"><img class="img-fluid" src="../assets/imagenes/kids/kids-cuadrado.jpg"></div>
                    <div class="col-8">
                        <div class="row"><b>$ 500 </b></div>
                        <div class="row text-muted">Be Legandary Lipstick-Sheer Navy Cream</div>
                        <div class="row">Qty:1</div>
                    </div>
                </div>
                <hr>
                <div class="row lower">
                    <div class="col text-left">Subtotal</div>
                    <div class="col text-right">$ 46.98</div>
                </div>
                <div class="row lower">
                    <div class="col text-left">Delivery</div>
                    <div class="col text-right">Gratis!!</div>
                </div>
                <div class="row lower">
                    <div class="col text-left">Agregar al carrito</div>
                    <div class="col text-right"><a href="../index.html"><img src="../assets/imagenes/sumaralcarrito.png" alt="carrito" width="15%"></a></div>
                </div>
                <div class="row lower">
                    <div class="col text-left"><b>Total</b></div>
                    <div class="col text-right"><b>$ 46.98</b></div>
                </div>
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-shopping-cart pr-2"></i>Confirmar Pedido
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap-->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
<script src="js/main.js"></script>

</body>
</html>
