//@import "././node_modules/bootstrap/scss/bootstrap.scss";

/* ESTILOS BASICOS*/

$color-logo: #DF806F;
$rosa: #fde8cd;
$blanco1: #FFFFFF;
$blanco2: #EDEDED;
$corazon: #C62828;

$letra1:'Anton', sans-serif;
$letra2:'Dosis', sans-serif;


body {
    font-family:$letra2;
    font-weight: bolder;
    background-color: $rosa;
    margin: 0;
    h2 {
        color: $color-logo; } 
    .carousel-caption {
      padding-bottom: 50px; 
    #titulo-pagina {
      font-family: $letra1;
      font-weight: 200px   ;
      font-size: 100px;
      word-spacing: 500%; }
    .banner {
      font-family: $letra2;
      font-size: 50px;
      word-spacing: 500%;
  }
}
}


// ESTILOS INDEX

#contenedor-boton {
         padding-left: 60%; } 

main {
    padding-top: 50px;
    #contenido-generado {
        padding-top: 50px; }
    .card-deck {
        padding-bottom: 40px;
        .ficha-prodcuto {
            margin: 5% 0%;
        .div-boton-comprar {
            padding-left: 38%; }
        .rating {
            padding-left: 0%; }              
        }
    
    }    
}

@media (max-width: 1200px) {
  body {
    margin: 0;
  }
  #boton-Favoritos {
    margin-left: 8%;
    }
}

@media (max-width: 1200px) {
    #contenedor-boton {
  padding-left: 50%;  
    }
}

@media (max-width: 992px) {
  #contenedor-boton {
    padding: 1% 0 0 0;
    margin: 0%;
    img {
    width: 7%; } 
    #boton-Favoritos {
        margin-left:1% ;}
        
    }	 
     
    }


@media (max-width:700px) {
 
    .card-body {
        padding: 0 1rem 1rem 1rem;
    }
    .card-top {
        padding: 0.7rem 1rem;
    }
    #contenedor-boton {
        img {
        width: 8%; }
        #boton-Favoritos {
            margin-left:1%;
        }

    }



    #titulo-pagina {
        display: inline;
        font-family: $letra1;
        font-weight: 50px   ;
        font-size: 30px;
        word-spacing: 500%; }
      .banner {
        font-family: $letra2;
        font-size: 30px;
        word-spacing: 500%;
    }
}

//ESTILOS CHECKOUT

// .card {
//     max-width: 1000px;
//     margin: 2vh
// }

.card-top {
    padding: 0.7rem 5rem;
    a {  
        float: left;
        margin-top: 0.7rem
    }
}

#seccion-checkout {
    background-color: $blanco1;
    padding-top: 50px;
}


.row {
    margin: 0
}

.upper {
    padding: 1rem 0;
    justify-content: space-evenly
}

.icons {
    margin-left: auto
}

form span {
    color: rgb(179, 179, 179)
}

form {
    padding: 2vh 0
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.left {
    background-color: #ffffff;
    padding: 2vh
}

.left img {
    width: 2rem
}

.left .col-4 {
    padding-left: 0
}

.right .item {
    padding: 0.3rem 0
}

.right {
    background-color: #ffffff;
    padding: 2vh
}

.col-8 {
    padding: 0 1vh
}

.lower {
    line-height: 3;
    b {
        font-size: larger;
    }
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

