/* ESTILOS BASICOS*/
body {
  background-color: #fde8cd;
  margin: 0; }
  body h2 {
    color: #DF806F; }
  body main {
    padding-top: 10px;
    margin: 0; }
  body header {
    padding-bottom: 50px; }

#contenedor-boton {
  padding-left: 70%; }

.estrellita {
  display: inline;
  text-decoration: none; }

.card-deck {
  padding-bottom: 40px; }
  .card-deck .ficha-prodcuto {
    margin: 5% 0%; }
    .card-deck .ficha-prodcuto .div-boton-comprar {
      padding-left: 38%; }
    .card-deck .ficha-prodcuto .rating {
      padding-left: 0%; }

@media (max-width: 1175px) {
  body {
    margin: 0; } }

@media (max-width: 989px) {
  #contenedor-boton {
    padding: 1% 0 0 0;
    margin: 0%; } }

.card-top {
  padding: 0.7rem 5rem; }
  .card-top a {
    float: left;
    margin-top: 0.7rem; }

@media (max-width: 768px) {
  .card-body {
    padding: 0 1rem 1rem 1rem; }
  .card-top {
    padding: 0.7rem 1rem; } }

.row {
  margin: 0; }

.upper {
  padding: 1rem 0;
  justify-content: space-evenly; }

.icons {
  margin-left: auto; }

form span {
  color: #b3b3b3; }

form {
  padding: 2vh 0; }

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: #f7f7f7; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

.left {
  background-color: #ffffff;
  padding: 2vh; }

.left img {
  width: 2rem; }

.left .col-4 {
  padding-left: 0; }

.right .item {
  padding: 0.3rem 0; }

.right {
  background-color: #ffffff;
  padding: 2vh; }

.col-8 {
  padding: 0 1vh; }

.lower {
  line-height: 3; }
  .lower b {
    font-size: larger; }

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; }

.btn:hover {
  color: white; }

a {
  color: black; }

a:hover {
  color: black;
  text-decoration: none; }

input[type=checkbox] {
  width: unset;
  margin-bottom: unset; }
