/* ESTILOS BASICOS*/
body {
  font-family: "Dosis", sans-serif;
  font-weight: bolder;
  background-color: #fde8cd;
  margin: 0; }
  body h2 {
    color: #DF806F; }
  body .carousel-caption {
    padding-bottom: 50px; }
    body .carousel-caption #titulo-pagina {
      font-family: "Anton", sans-serif;
      font-weight: 200px;
      font-size: 100px;
      word-spacing: 500%; }
    body .carousel-caption .banner {
      font-family: "Dosis", sans-serif;
      font-size: 50px;
      word-spacing: 500%; }

#contenedor-boton {
  padding-left: 60%; }

main {
  padding-top: 50px; }
  main #contenido-generado {
    padding-top: 50px; }
  main .card-deck {
    padding-bottom: 40px; }
    main .card-deck .ficha-prodcuto {
      margin: 5% 0%; }
      main .card-deck .ficha-prodcuto .div-boton-comprar {
        padding-left: 38%; }
      main .card-deck .ficha-prodcuto .rating {
        padding-left: 0%; }

@media (max-width: 2500px) {
  body {
    margin: 0; }
  #boton-Favoritos {
    margin-left: 8%; } }

@media (max-width: 1200px) {
  #contenedor-boton {
    padding-left: 50%; } }

@media (max-width: 992px) {
  #contenedor-boton {
    padding: 1% 0 0 0;
    margin: 0%; }
    #contenedor-boton img {
      width: 7%; }
    #contenedor-boton #boton-Favoritos {
      margin-left: 1%; } }

@media (max-width: 700px) {
  .card-body {
    padding: 0 1rem 1rem 1rem; }
  .card-top {
    padding: 0.7rem 1rem; }
  #contenedor-boton img {
    width: 8%; }
  #contenedor-boton #boton-Favoritos {
    margin-left: 1%; }
  #titulo-pagina {
    display: inline;
    font-family: "Anton", sans-serif;
    font-weight: 50px;
    font-size: 30px;
    word-spacing: 500%; }
  .banner {
    font-family: "Dosis", sans-serif;
    font-size: 30px;
    word-spacing: 500%; } }

.card-top {
  padding: 0.7rem 5rem; }
  .card-top a {
    float: left;
    margin-top: 0.7rem; }

#seccion-checkout {
  background-color: #FFFFFF;
  padding-top: 50px; }

.row {
  margin: 0; }

.upper {
  padding: 1rem 0;
  justify-content: space-evenly; }

.icons {
  margin-left: auto; }

form span {
  color: #b3b3b3; }

form {
  padding: 2vh 0; }

input {
  border: 1px solid rgba(0, 0, 0, 0.137);
  padding: 1vh;
  margin-bottom: 4vh;
  outline: none;
  width: 100%;
  background-color: #f7f7f7; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

.left {
  background-color: #ffffff;
  padding: 2vh; }

.left img {
  width: 2rem; }

.left .col-4 {
  padding-left: 0; }

.right .item {
  padding: 0.3rem 0; }

.right {
  background-color: #ffffff;
  padding: 2vh; }

.col-8 {
  padding: 0 1vh; }

.lower {
  line-height: 3; }
  .lower b {
    font-size: larger; }

.btn:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: white;
  -webkit-box-shadow: none;
  -webkit-user-select: none;
  transition: none; }
